<div class="container">
  <div class="alert alert-primary" role="alert">
    Bootstrap está funcionando!
  </div>
  <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
  <i class="fas fa-camera"></i>
  <mat-icon>groups_2</mat-icon>
  <span class="material-symbols-outlined">
    </span>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_circle_left"></mat-icon>


  <mat-slide-toggle class="abc">Hide page size</mat-slide-toggle>

    <p></p>

    <mat-slide-toggle #darkModeSwitch></mat-slide-toggle>

    <p></p>
    <button (click)="goScreenLotofacil()">Tela Lotofácil</button>
    <p></p>
    <mat-slide-toggle>Dark Mode</mat-slide-toggle>

    <!-- app.component.html -->

    <!-- Exemplo de como o ngModel funciona -->
    <input type="text" [(ngModel)]="textoTeste" placeholder="Digite seu nome" />
    <p>:{{ textoTeste }}!</p>

    <p></p>
    <p>Lotofácil</p>
    <button (click)="goScreenLotofacil()">Tela Lotofácil</button>
    <input type="text" [(ngModel)]="numConcurso"/>
    <button (click)="buscar()">Buscar</button>
    <button (click)="buscarDezenas()">Buscar Dezenas</button>

</div>
