<h2 mat-dialog-title class="bg-light border-bottom d-flex align-items-center gap-2 m-0 py-3 px-4">
  <mat-icon color="primary">{{ data.icon || 'info' }}</mat-icon>
  {{ data.title }}
</h2>

<mat-dialog-content class="pt-4 px-4 pb-3 text-center d-flex flex-column align-items-center">
  
  <img [src]="data.imageSrc"
       [alt]="data.imageAlt" 
       class="img-fluid rounded shadow-sm border mb-4" 
       style="max-height: 350px; object-fit: contain;">

  <p *ngIf="data.description" class="mb-2 text-muted">
    {{ data.description }}
  </p>
  
  <a *ngIf="data.actionUrl" 
     mat-flat-button 
     color="accent" 
     [href]="data.actionUrl" 
     target="_blank" 
     class="w-100 py-1">
    <mat-icon>open_in_new</mat-icon> {{ data.actionText || 'Acessar site' }}
  </a>

</mat-dialog-content>

<mat-dialog-actions align="end" class="border-top pb-2 pt-2 pe-3">
  <button mat-button mat-dialog-close color="primary">Fechar</button>
</mat-dialog-actions>