<div class="parent" [ngClass]="theme">
  <div>
    <!-- Necessário colocar o ngIf para não ter aquele bug de inicializar o valor do toogle em microsegundos -->
    <mat-slide-toggle
      *ngIf="theme"
      class="toogle-container"
      #darkModeSwitch
      [checked]="theme === 'night'"
      (change)="onToggleChange($event)">
      <!-- {{ theme === 'day' ? 'Day' : 'Night' }} -->
    </mat-slide-toggle>
  </div>
  <div
    [ngClass]="theme"
    class="link-voltar"
    (click)="backLogin()"
    >Entrar
  </div>

  <div class="register-container">

    <img src="/img/my-life-{{theme}}.png" alt="" class="logo">
    <form [formGroup]="form" (ngSubmit)="register()" class="grid-container">

      <!-- Mensagem de usuário registrado com sucesso -->
      <div *ngIf="afterRequestRegister" [ngClass]="typeMessage" class="alert alert-dismissible fade show" role="alert">
        {{msgAfterClickRegister}}
        <button type="button" class="btn-close" aria-label="Close" (click)="afterRequestRegister = false"></button>
      </div>

      <!-- Usuário -->
      <div class="input-box">
        <input type="text" formControlName="username" required [ngClass]="theme"/>
        <label [ngClass]="theme">Usuário</label>
      </div>

      <!-- Mensagem de Usuário já cadastrado no sistema -->
      <div *ngIf="userAlreadyRegistered==true" class="invalid-data" [ngClass]="theme">
        Já existe um usuário com esse nome
      </div>

      <!-- Senha -->
      <div class="input-box">
        <input [type]="passwordFieldType.password" formControlName="password" required [ngClass]="theme"/>
        <label [ngClass]="theme">Senha</label>
        <div *ngIf="form.get('password')?.value.length > 0">
          <mat-icon class="visible" [ngClass]="theme" (click)="togglePasswordVisibility('password')" >{{passwordVisibility.password}}</mat-icon>
        </div>
      </div>

      <!-- Confirmar Senha -->
      <div class="input-box">
        <input [type]="passwordFieldType.confirmPassword" formControlName="confirmPassword" required [ngClass]="theme"/>
        <label [ngClass]="theme">Confirmar Senha</label>
        <div *ngIf="form.get('confirmPassword')?.value.length > 0">
          <mat-icon class="visible" [ngClass]="theme" (click)="togglePasswordVisibility('confirmPassword')" >{{passwordVisibility.confirmPassword}}</mat-icon>
        </div>
      </div>

      <!-- Mensagem de senhas diferentes -->
      <div *ngIf="passwordsDifferents==true" class="invalid-data" [ngClass]="theme">
        Senhas não correspondem
      </div>

      <!-- Gênero -->
      <div class="input-box">
        <label [ngClass]="theme">Gênero</label>
        <select formControlName="gender" required [ngClass]="theme" class="styled-select">
          <option value="" disabled selected>Selecione</option>
          <option value="Masculino" [ngClass]="theme">Masculino</option>
          <option value="Feminino" [ngClass]="theme">Feminino</option>
          <option value="Outro" [ngClass]="theme">Outro</option>
        </select>
      </div>

      <!-- Localização -->
      <div class="input-box">
        <input placeholder="Cidade-UF" type="text" formControlName="location" required [ngClass]="theme"/>
        <label [ngClass]="theme">Localização</label>
      </div>

      <!-- Mensagem de formato da localização inválida -->
      <div *ngIf="form.get('location')?.touched && form.get('location')?.errors?.['pattern']" class="invalid-data" [ngClass]="theme">
        Use: Cidade-UF
      </div>

      <!-- Data de Nascimento -->
      <div class="input-box">
        <label [ngClass]="theme">Data de Nascimento</label>
        <input type="date" formControlName="birthdate" required [ngClass]="theme" />
      </div>

      <!-- Mensagem de Data de Nascimento futura (inválida) -->
      <div *ngIf="form.get('birthdate')?.touched && form.get('birthdate')?.errors?.['futureDate']"
           class="invalid-data" [ngClass]="theme">
        Data de Nascimento não pode ser futura
      </div>

      <!-- Botão de Cadastrar -->
      <button [disabled]="!form.valid" type="submit" [ngClass]="[enableButton(), theme]">
        Registrar
      </button>

    </form>
  </div>
</div>
