<div class="parent" [ngClass]="theme">
  <div>
    <mat-slide-toggle
      class="toogle-container"
      #darkModeSwitch
      [checked]="theme === 'night'"
      (change)="onToggleChange($event)">
      <!-- {{ theme === 'day' ? 'Day' : 'Night' }} -->
    </mat-slide-toggle>
  </div>
  <div
    [ngClass]="theme"
    class="link-voltar"
    (click)="backLogin()"
    >Entrar
  </div>
  <div class="register-container">

    <img src="/img/my-life-{{theme}}.png" alt="" class="logo">
    <form [formGroup]="formulario" (ngSubmit)="cadastrar()" class="grid-container">

      <!-- Usuário -->
      <div class="input-box">
        <input type="text" formControlName="username" required [ngClass]="theme"/>
        <label [ngClass]="theme">Usuário</label>
      </div>

      <!-- Senha -->
      <div class="input-box">
        <input type="password" formControlName="password" required [ngClass]="theme"/>
        <label [ngClass]="theme">Senha</label>
      </div>

      <!-- Confirmar Senha -->
      <div class="input-box">
        <input type="password" formControlName="confirmPassword" required [ngClass]="theme"/>
        <label [ngClass]="theme">Confirmar Senha</label>
      </div>

      <div *ngIf="loginError==true" class="incorret-password" [ngClass]="theme">
        Usuário/Senha incorreto
      </div>

      <!-- Gênero -->
      <div class="input-box">
        <label [ngClass]="theme">Gênero</label>
        <select formControlName="gender" required [ngClass]="theme" class="styled-select">
          <option value="" disabled selected>Selecione</option>
          <option value="male" [ngClass]="theme">Masculino</option>
          <option value="female" [ngClass]="theme">Feminino</option>
          <option value="other" [ngClass]="theme">Outro</option>
        </select>
      </div>

      <!-- Localização -->
      <div class="input-box">
        <input type="text" formControlName="location" required [ngClass]="theme"/>
        <label [ngClass]="theme">Localização</label>
      </div>

      <!-- Data de Nascimento -->
      <div class="input-box">
        <label [ngClass]="theme">Data de Nascimento</label>
        <input type="date" formControlName="birthdate" required [ngClass]="theme"/>
      </div>

      <button
          [disabled]="!formulario.valid"
          type="submit"
          [ngClass]="[
            enableButton(),
            theme
          ]"
        >Registrar
        </button>
    </form>
  </div>
</div>
