// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Poppins', sans-serif;
// }
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &.night{
    background: #1f293a;
  }
  &.day{
    background: #fff;
  }
}

.container {
  position: relative;
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//.toogle-container {
mat-slide-toggle{
position: absolute;
top: 10px; /* Distância do topo da tela */
right: 10px; /* Distância da esquerda da tela */
}

/* Se a tela for grande, executa os comandos abaixo*/
@media screen and (min-width: 1024px) {
.container span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    border-radius: 8px;
    transform-origin: 128px;
    &.night{
      animation: animateBlinkNight 3s linear infinite;
      transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
      animation-delay: calc(var(--i) * (3s / 50));
      background: #2c4766;

    }
    &.day{
      animation: animateBlinkDay 3s linear infinite;
      transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
      animation-delay: calc(var(--i) * (3s / 50));
      background: #97b9c2;
    }

}
@keyframes animateBlinkNight {
    0% {
        background: #0ef;
    }
    25% {
        background: #2c4766;
    }
}

@keyframes animateBlinkDay {
  0% {
      background: #b6c6c7;
  }
  25% {
      background: #97b9c2;
  }
}
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Define colunas responsivas */
  gap: 10px; /* Espaçamento entre os itens */
  margin-top: 20px;

  .input-box {
    width: 200px; /* Faz os campos ocuparem a largura completa da célula */
  }

  .button-box {
    grid-column: span 2; /* Faz o botão ocupar duas colunas, caso deseje */
    text-align: center; /* Centraliza o botão */
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas maiores */
  }
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Três colunas em telas ainda maiores */
  }
}

/* Caso fosse trocado o logo por uma palavra, tipo 'Login'
h2 {
  font-size: 2em;
  color: #0ef;
  text-align: center;
}
*/

.error-msg {
font-size: 12px;
margin-left: 15px;
margin-top: -25px;
margin-bottom: 20px;
}

img {
max-width: 30%;
//height: auto;
text-align: center;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: -5%;
margin-top: -10%;
}

.input-box {
  position: relative;
  margin: 25px 0;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  padding: 0 20px;
  transition: .5s ease;
  &.night{
    border: 2px solid #2c4766;
    color: #fff;
  }
  &.day{
    border: 2px solid #000000;
    color: #000000;;
  }
}

// Efeito quando clicado sobre os inputs dessa classes
.input-box input:focus,
.input-box input:valid {
&.night{
  border-color: #0ef;
}
&.day{
  border-color: #0662cc;
}
}

// Coloca o label 'Usuário' e 'Senha' para cima, dentro dos inputs
.input-box label {
  position: absolute;
  top: 50%; //50%; //25px;
  transform: translateY(-50%);
  left: 20px;
  font-size: 1em;
  pointer-events: none;
  transition: .5s ease; // Aplica meio segundo de transicao toda vez que o label muda
  &.night{
    color: #fff;;
  }
  &.day{
    color: #1e0d7e;
  }
}

.input-box .visible {
  position: absolute;
  top: 50%; //50%; //25px;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  &.night{
    color: #0ef;
  }
  &.day{
    color: #1e0d7e;
  }
}

// Aplica o efeito de subir o label quando o input for
// clicado e quando ele estiver valido (preenchido devido ao required)
.input-box input:focus~label,
.input-box input:valid~label {
  top: 10%; // 10% ou 5px;
  font-size: .8em;
  padding: 0 6px;
  &.night{
    background: #1f293a;
    color: #0ef;
  }
  &.day{
    background: #ffffff;
    color: #000000;
  }
}

.forgot-pass {
  margin: -15px 0 10px;
  text-align: center;
}
.forgot-pass a {
  font-size: .85em;
  text-decoration: none;
  &.night{
    color: #fff;
  }
  &.day{
    color: #000000;;
  }
}
.forgot-pass a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
width: 100%;
height: 45px;
border: none;
outline: none;
border-radius: 40px;
font-size: 1em;
font-weight: 600;
}

.btn-enabled{
&.night{
  background: #0ef;
  cursor: pointer;
  color: #1f293a;
}
&.day{
  background: #2870f5;
  border: solid #565e5f;
  color: #ffffff;
}
}

.btn-disabled{
&.night{
  background: #1f293a;
  border: solid #0ef;
  color: #0ef;
}
&.day{
  background: #686b77;
  border: solid #000000;
  color: #ffffff;
}
}

.incorret-password{
margin: -18px 0 20px;
text-align: center;
color: #ff4646;
font-size: 0.8em;
}

.signup-link {
  margin: 20px 0 10px;
  text-align: center;
}
.signup-link a {
  font-size: 1em;
  text-decoration: none;
  font-weight: 600;
  &.night{
    color: #0ef;
  }
  &.day{
    color: #000000;;
  }
}
.signup-link a:hover {
  text-decoration: underline;
}
