
<div class="parent" [ngClass]="theme">
  <div>
    <mat-slide-toggle
      class="toogle-container"
      #darkModeSwitch
      [checked]="theme === 'night'"
      (change)="onToggleChange($event)">
      <!-- {{ theme === 'day' ? 'Day' : 'Night' }} -->
    </mat-slide-toggle>
  </div>
  <div>
    <label
      class="toogle-container2"
    >voltar
    </label>
  </div>
  <div class="container">
    <div class="login-box">
      <img src="/img/my-life-{{theme}}.png" alt="" class="logo">
      <!-- Formulário de cadastro -->
      <form action="#" (ngSubmit)="registrar()" [formGroup]="formulario" class="grid-container">
        <!-- Usuário -->
        <div class="input-box">
          <input
            type="text"
            formControlName="username"
            required
            [ngClass]="theme"
          >
          <label [ngClass]="theme">Usuário</label>
        </div>
        <!-- Senha -->
        <div class="input-box">
          <input
            [type]="passwordFieldType"
            formControlName="password"
            required
            [ngClass]="theme"
          >
          <label [ngClass]="theme">Senha</label>
          <div *ngIf="formulario.get('password')?.value.length > 0">
            <mat-icon
              class="visible"
              [ngClass]="theme"
              (click)="togglePasswordVisibility()"
              >{{passwordVisibility}}
            </mat-icon>
          </div>
        </div>
        <!-- Senha -->
        <div class="input-box">
          <input
            [type]="passwordFieldType"
            formControlName="password"
            required
            [ngClass]="theme"
          >
          <label [ngClass]="theme">Confirme sua senha</label>
          <div *ngIf="formulario.get('password')?.value.length > 0">
            <mat-icon
              class="visible"
              [ngClass]="theme"
              (click)="togglePasswordVisibility()"
              >{{passwordVisibility}}
            </mat-icon>
          </div>
        </div>
        <div *ngIf="loginError==true" class="incorret-password" [ngClass]="theme">
          Senhas não correspondem
        </div>
        <!-- Gênero -->
        <div class="input-box">
          <input
            type="text"
            formControlName="gender"
            required
            [ngClass]="theme"
          >
          <label [ngClass]="theme">Gênero</label>
        </div>
        <!-- Data de Nacimento -->
        <div class="input-box">
          <input
            type="text"
            formControlName="birthDate"
            required
            [ngClass]="theme"
          >
          <label [ngClass]="theme">Data de Nascimento</label>
        </div>
        <!-- Localização -->
        <div class="input-box">
          <input
            type="text"
            formControlName="location"
            required
            [ngClass]="theme"
          >
          <label [ngClass]="theme">Localização</label>
        </div>
        <button
          [disabled]="!formulario.valid"
          type="submit"
          [ngClass]="[
            enableButton(),
            theme
          ]"
        >Registrar
        </button>
      </form>
    </div>
  </div>
</div>
