.parent {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  &.night{
    background: #1f293a;
    color: #0ef;;
  }
  &.day{
    background: #fff;
    color: #000000;
  }
}

.btn-close{
  margin-top: -40px;
}

.title{
  margin-left: auto; // Deixa centralizado
  margin-top: 15px;
  margin-bottom: 15px;
}

.content{
  margin-top: 15px;
  margin-bottom: 15px;
}
