<div class="container-fluid p-4">
  <h2 class="mb-4">Jogos Lotofácil</h2>

  <mat-card class="mb-4">
    <mat-card-content>


      <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">

        <div class="d-flex align-items-center gap-2">
          <button mat-raised-button color="primary" (click)="adicionarJogo()">Adicionar</button>
          <button mat-raised-button color="accent" (click)="synchronizeContests()" [disabled]="isSyncing">
            <span *ngIf="isSyncing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!isSyncing">Sincronizar</span>
          </button>

          <div *ngIf="showSyncAlert" @shownState class="alert d-flex align-items-center m-0" [ngClass]="{
               'alert-warning': syncAlertType === 'warning',
               'alert-success': syncAlertType === 'success',
               'alert-info': syncAlertType === 'info',
               'alert-danger': syncAlertType === 'danger'
             }" role="alert">

            <mat-icon class="me-2">{{ syncAlertIcon }}</mat-icon>

            <span>{{ syncAlertMessage }}</span>
          </div>
        </div>

        <div class="d-flex align-items-center gap-2">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="consultar-jogo-input">
            <input matInput type="number" placeholder="Número do concurso" [(ngModel)]="contestIdConsulted">
          </mat-form-field>
          <button mat-flat-button color="primary" (click)="consultContest()">Consultar Jogo</button>

          <div @shownState *ngIf="showConsultAlert" class="alert alert-warning m-0 d-flex align-items-center"
            role="alert">
            Concurso {{contestIdConsulted}} não cadastrado
            <mat-icon class="me-2 mat-icon-clickable" (click)="showConsultAlert = false">close</mat-icon>
          </div>
        </div>

        <div class="total-jogos">
          <strong>Total de jogos:</strong>
          <span class="total-badge">{{ totalNumberLotofacilContest }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="row g-4">
    <div class="col-lg-6">

      <mat-card class="mb-4">
        <mat-card-content>
          <label class="form-label">Repetição ao jogo anterior</label>
          <div class="row align-items-center mb-4">
            <div class="col-md-10">
              <mat-radio-group class="button-group-condensed" [(ngModel)]="repeticaoSelecionada"
                aria-label="Seleção de repetição">
                <mat-radio-button value="N/D">N/D</mat-radio-button>
                <mat-radio-button value="6">6</mat-radio-button>
                <mat-radio-button value="7">7</mat-radio-button>
                <mat-radio-button value="9">9</mat-radio-button>
                <mat-radio-button value="10">10</mat-radio-button>
                <mat-radio-button value="11">11</mat-radio-button>
                <mat-radio-button value="12">12</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-md-2 d-grid">
              <button mat-raised-button color="accent" (click)="generateContest()">Gerar Jogo</button>
            </div>
          </div>

          <div>
            <label class="form-label">Relação de paridade (Ímpares / Pares)</label>
            <mat-radio-group class="button-group-condensed" [(ngModel)]="paridadeSelecionada"
              aria-label="Seleção de paridade">
              <mat-radio-button value="N/D">N/D</mat-radio-button>
              <mat-radio-button value="4/11">4/11</mat-radio-button>
              <mat-radio-button value="5/10">5/10</mat-radio-button>
              <mat-radio-button value="6/9">6/9</mat-radio-button>
              <mat-radio-button value="7/8">7/8</mat-radio-button>
              <mat-radio-button value="8/7">8/7</mat-radio-button>
              <mat-radio-button value="9/6">9/6</mat-radio-button>
              <mat-radio-button value="10/5">10/5</mat-radio-button>
              <mat-radio-button value="11/4">11/4</mat-radio-button> </mat-radio-group>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="d-flex justify-content-between align-items-center mb-2">
        <h4>Últimos Resultados</h4>
        <div>
          <button mat-icon-button aria-label="Página anterior"><mat-icon>chevron_left</mat-icon></button>
          <button mat-icon-button aria-label="Próxima página"><mat-icon>chevron_right</mat-icon></button>
        </div>
      </div>
      <div class="concursos-grid">
        <!-- <mat-card *ngFor="let concurso of concursos" class="concurso-card">
          <mat-card-title>Concurso {{ concurso.numero }}</mat-card-title>
          <mat-card-content>
            <div class="dezenas-grid">
              <div *ngFor="let dezena of concurso.dezenas" class="dezena">
                {{ dezena }}
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <small>Paridade: {{ concurso.paridade }} / Rep: {{ concurso.repetidas }}</small>
          </mat-card-footer>
        </mat-card> -->
      </div>

    </div>

    <div class="col-lg-6">
      <div class="d-flex flex-column flex-lg-row gap-3">
        <!-- <div class="d-flex flex-column gap-4"></div> Desse jeito, ficaria uma tabela embaixo da outra na direita -->

        <div class="stat-table-container">
          <h6 class="text-center">Repetição</h6>
          <table mat-table [dataSource]="dataSourceRepetition" matSort #sortRepetition="matSort"
            (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="repetido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by repetido">Repetido
              </th>
              <td mat-cell *matCellDef="let element"> {{element.repetido}} </td>
            </ng-container>
            <ng-container matColumnDef="qtd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by qtd">Qtd</th>
              <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
            </ng-container>
            <ng-container matColumnDef="porcentagem">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by porcentagem">%</th>
              <td mat-cell *matCellDef="let element"> {{ (element.porcentagem).toFixed(2).replace('.',',') }}% </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRepetition"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRepetition;"></tr>
          </table>
        </div>

        <div class="stat-table-container">
          <h6 class="text-center">Paridade</h6>
          <table mat-table [dataSource]="dataSourceParity" matSort #sortParity="matSort"
            (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="paridade">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by paridade">Paridade
              </th>
              <td mat-cell *matCellDef="let element"> {{element.paridade}} </td>
            </ng-container>
            <ng-container matColumnDef="qtd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by qtd">Qtd</th>
              <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
            </ng-container>
            <ng-container matColumnDef="porcentagem">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by porcentagem">%</th>
              <td mat-cell *matCellDef="let element"> {{ (element.porcentagem).toFixed(2).replace('.',',') }}% </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsParity"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsParity;"></tr>
          </table>
        </div>

        <div class="stat-table-container">
          <h6 class="text-center">Totais Números</h6>
          <table mat-table [dataSource]="dataSourceNumber" matSort #sortNumber="matSort"
            (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">Número</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="qtd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by qtd">Qtd</th>
              <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
            </ng-container>
            <ng-container matColumnDef="porcentagem">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by porcentagem">%</th>
              <td mat-cell *matCellDef="let element"> {{ (element.porcentagem).toFixed(2).replace('.',',') }}% </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsNumber"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsNumber;"></tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>