<div class="container-fluid p-4">
  <h2 class="mb-4">Jogos Lotofácil</h2>

  <mat-card class="mb-4">
    <mat-card-content class="d-flex justify-content-between align-items-center flex-wrap gap-3">

     <div class="d-flex align-items-center gap-2">
        <button mat-raised-button color="primary" (click)="adicionarJogo()">Adicionar</button>
        <button mat-raised-button color="accent" (click)="sincronizarJogos()">Sincronizar</button>
        <small class="text-muted">Última sincronização as 09h</small>
      </div>

      <div class="d-flex align-items-center gap-2">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="consultar-jogo-input">
          <input matInput type="number" placeholder="Número do concurso" [(ngModel)]="contestConsulted">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="consultContest()">Consultar Jogo</button>
        <div @shownState *ngIf="showAlert" class="alert alert-warning m-0 d-flex align-items-center" role="alert">
          Concurso {{contestConsulted}} não cadastrado <mat-icon class="me-2 mat-icon-clickable" (click)="showAlert = false">close</mat-icon>
        </div>
      </div>

      <div class="total-jogos">
        <strong>Total de jogos:</strong>
        <span class="total-badge">{{ totalNumberLotofacilContest }}</span>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="row g-4">
    <div class="col-lg-6">
      
      <mat-card class="mb-4">
        <mat-card-content>
          <label class="form-label">Repetição ao jogo anterior</label>
          <div class="row align-items-center mb-4">
            <div class="col-md-10">
              <mat-button-toggle-group class="button-group-condensed" [(ngModel)]="repeticaoSelecionada">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">N/D</mat-radio-button>
                  <mat-radio-button value="2">6</mat-radio-button>
                  <mat-radio-button value="3">7</mat-radio-button>
                  <mat-radio-button value="4">9</mat-radio-button>
                  <mat-radio-button value="5">10</mat-radio-button>
                  <mat-radio-button value="6">11</mat-radio-button>
                  <mat-radio-button value="7">12</mat-radio-button>
                </mat-radio-group>
              </mat-button-toggle-group>
            </div>
            <div class="col-md-2 d-grid">
              <button mat-raised-button color="accent" (click)="gerarJogo()">Gerar Jogo</button>
            </div>
          </div>

          <div>
            <label class="form-label">Relação de paridade (Ímpares / Pares)</label>
            <mat-button-toggle-group class="button-group-condensed" [(ngModel)]="paridadeSelecionada">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">N/D</mat-radio-button>
                <mat-radio-button value="2">4/11</mat-radio-button>
                <mat-radio-button value="3">5/10</mat-radio-button>
                <mat-radio-button value="4">6/9</mat-radio-button>
                <mat-radio-button value="5">7/8</mat-radio-button>
                <mat-radio-button value="6">8/7</mat-radio-button>
                <mat-radio-button value="7">9/6</mat-radio-button>
                <mat-radio-button value="8">10/6</mat-radio-button>
                <mat-radio-button value="9">11/5</mat-radio-button>
              </mat-radio-group>
            </mat-button-toggle-group>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="d-flex justify-content-between align-items-center mb-2">
        <h4>Últimos Resultados</h4>
        <div>
          <button mat-icon-button aria-label="Página anterior"><mat-icon>chevron_left</mat-icon></button>
          <button mat-icon-button aria-label="Próxima página"><mat-icon>chevron_right</mat-icon></button>
        </div>
      </div>
      <div class="concursos-grid">
        <!-- <mat-card *ngFor="let concurso of concursos" class="concurso-card">
          <mat-card-title>Concurso {{ concurso.numero }}</mat-card-title>
          <mat-card-content>
            <div class="dezenas-grid">
              <div *ngFor="let dezena of concurso.dezenas" class="dezena">
                {{ dezena }}
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <small>Paridade: {{ concurso.paridade }} / Rep: {{ concurso.repetidas }}</small>
          </mat-card-footer>
        </mat-card> -->
      </div>

    </div>

    <div class="col-lg-6">
      <div class="d-flex flex-column flex-lg-row gap-3">
        <!-- <div class="d-flex flex-column gap-4"></div> Desse jeito, ficaria uma tabela embaixo da outra na direita -->

        <div class="stat-table-container">
          <h6 class="text-center">Repetição</h6>
          <table mat-table [dataSource]="dataSourceRepetition" matSort #sortRepetition="matSort" (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="repetido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by repetido">Repetido</th>
              <td mat-cell *matCellDef="let element"> {{element.repetido}} </td>
            </ng-container>
            <ng-container matColumnDef="qtd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by qtd">Qtd</th>
              <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
            </ng-container>
            <ng-container matColumnDef="porcentagem">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by porcentagem">%</th>
              <td mat-cell *matCellDef="let element"> {{ (element.porcentagem).toFixed(2).replace('.',',') }}% </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRepetition"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsRepetition;"></tr>
          </table>
        </div>

        <div class="stat-table-container">
          <h6 class="text-center">Paridade</h6>
          <table mat-table [dataSource]="dataSourceParity" matSort #sortParity="matSort" (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="paridade">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by paridade">Paridade</th>
              <td mat-cell *matCellDef="let element"> {{element.paridade}} </td>
            </ng-container>
            <ng-container matColumnDef="qtd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by qtd">Qtd</th>
              <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
            </ng-container>
            <ng-container matColumnDef="porcentagem">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by porcentagem">%</th>
              <td mat-cell *matCellDef="let element"> {{ (element.porcentagem).toFixed(2).replace('.',',') }}% </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsParity"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsParity;"></tr>
          </table>
        </div>

        <div class="stat-table-container">
          <h6 class="text-center">Totais Números</h6>
          <table mat-table [dataSource]="dataSourceNumber" matSort #sortNumber="matSort" (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">Número</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="qtd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by qtd">Qtd</th>
              <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
            </ng-container>
            <ng-container matColumnDef="porcentagem">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by porcentagem">%</th>
              <td mat-cell *matCellDef="let element"> {{ (element.porcentagem).toFixed(2).replace('.',',') }}% </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsNumber"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsNumber;"></tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>