
<div class="parent" [ngClass]="theme">
  <div>
    <!-- Necessário colocar o ngIf para não ter aquele bug de inicializar o valor do toogle em microsegundos -->
    <mat-slide-toggle
      *ngIf="theme"
      class="toogle-container"
      #darkModeSwitch
      [checked]="theme === 'night'"
      (change)="onToggleChange($event)">
      <!-- {{ theme === 'day' ? 'Day' : 'Night' }} -->
    </mat-slide-toggle>
  </div>

  <div class="container">

    <div class="login-box">
      <img src="/img/my-life-{{theme}}.png" alt="" class="logo">

      <form action="#" (ngSubmit)="login()" [formGroup]="form">

        <!-- Usuário -->
        <div class="input-box">
          <input type="text" formControlName="username" required [ngClass]="theme">
          <label [ngClass]="theme">Usuário</label>
        </div>

        <!-- Senha -->
        <div class="input-box">
          <input [type]="passwordFieldType" formControlName="password" required [ngClass]="theme">
          <label [ngClass]="theme">Senha</label>
          <div *ngIf="form.get('password')?.value.length > 0">
            <mat-icon class="visible" [ngClass]="theme" (click)="togglePasswordVisibility()">
              {{passwordVisibility}}
            </mat-icon>
          </div>
        </div>

        <!-- Mensagem de login inválido -->
        <div @shakeAnimation *ngIf="loginError==true" class="incorret-password" [ngClass]="theme">
          {{ messageErrorLogin }}
        </div>

        <!-- Esqueceu a senha -->
        <div class="forgot-pass">
          <!-- Esse 'data-bs-toggle' é um atributo do b5 para identificar elementos que devem
           ativar modais e o 'data-bs-target' é qual componente deve ser aberto -->
          <a data-bs-toggle="modal" data-bs-target="#templateModal" [ngClass]="theme">Esqueceu sua senha?</a>
        </div>

        <!-- Botão de Logar -->
        <button [disabled]="!form.valid" type="submit"  [ngClass]="[ enableButton(), theme ]">
          Login
        </button>

        <!-- Botão de Cadastrar -->
        <div class="signup-link">
          <a [ngClass]="theme" (click)="register()">Cadastrar</a>
        </div>

      </form>

    </div>

    <!-- Coloca o circulo em volta do login -->
    <div [ngClass]="theme">
      <span [ngClass]="theme" style="--i:0;"></span>
      <span [ngClass]="theme" style="--i:1;"></span>
      <span [ngClass]="theme" style="--i:2;"></span>
      <span [ngClass]="theme" style="--i:3;"></span>
      <span [ngClass]="theme" style="--i:4;"></span>
      <span [ngClass]="theme" style="--i:5;"></span>
      <span [ngClass]="theme" style="--i:6;"></span>
      <span [ngClass]="theme" style="--i:7;"></span>
      <span [ngClass]="theme" style="--i:8;"></span>
      <span [ngClass]="theme" style="--i:9;"></span>
      <span [ngClass]="theme" style="--i:10;"></span>
      <span [ngClass]="theme" style="--i:11;"></span>
      <span [ngClass]="theme" style="--i:12;"></span>
      <span [ngClass]="theme" style="--i:13;"></span>
      <span [ngClass]="theme" style="--i:14;"></span>
      <span [ngClass]="theme" style="--i:15;"></span>
      <span [ngClass]="theme" style="--i:16;"></span>
      <span [ngClass]="theme" style="--i:17;"></span>
      <span [ngClass]="theme" style="--i:18;"></span>
      <span [ngClass]="theme" style="--i:19;"></span>
      <span [ngClass]="theme" style="--i:20;"></span>
      <span [ngClass]="theme" style="--i:21;"></span>
      <span [ngClass]="theme" style="--i:22;"></span>
      <span [ngClass]="theme" style="--i:23;"></span>
      <span [ngClass]="theme" style="--i:24;"></span>
      <span [ngClass]="theme" style="--i:25;"></span>
      <span [ngClass]="theme" style="--i:26;"></span>
      <span [ngClass]="theme" style="--i:27;"></span>
      <span [ngClass]="theme" style="--i:28;"></span>
      <span [ngClass]="theme" style="--i:29;"></span>
      <span [ngClass]="theme" style="--i:30;"></span>
      <span [ngClass]="theme" style="--i:31;"></span>
      <span [ngClass]="theme" style="--i:32;"></span>
      <span [ngClass]="theme" style="--i:33;"></span>
      <span [ngClass]="theme" style="--i:34;"></span>
      <span [ngClass]="theme" style="--i:35;"></span>
      <span [ngClass]="theme" style="--i:36;"></span>
      <span [ngClass]="theme" style="--i:37;"></span>
      <span [ngClass]="theme" style="--i:38;"></span>
      <span [ngClass]="theme" style="--i:39;"></span>
      <span [ngClass]="theme" style="--i:40;"></span>
      <span [ngClass]="theme" style="--i:41;"></span>
      <span [ngClass]="theme" style="--i:42;"></span>
      <span [ngClass]="theme" style="--i:43;"></span>
      <span [ngClass]="theme" style="--i:44;"></span>
      <span [ngClass]="theme" style="--i:45;"></span>
      <span [ngClass]="theme" style="--i:46;"></span>
      <span [ngClass]="theme" style="--i:47;"></span>
      <span [ngClass]="theme" style="--i:48;"></span>
      <span [ngClass]="theme" style="--i:49;"></span>
    </div>

  </div>

</div>

<!-- Modal aberto -->
<app-template-modal [message]="forgotPasswordMessage" [theme]="theme"></app-template-modal>
