@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
    /* background-image: url(./bg.jpg); */
}
.container {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Se a tela for grande, executa os comandos abaixo*/
@media screen and (min-width: 1024px) {
  .container span {
      position: absolute;
      left: 0;
      width: 32px;
      height: 6px;
      background: #2c4766;
      border-radius: 8px;
      transform-origin: 128px;
      transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
      animation: animateBlink 3s linear infinite;
      animation-delay: calc(var(--i) * (3s / 50));
  }
  @keyframes animateBlink {
      0% {
          background: #0ef;
      }
      25% {
          background: #2c4766;
      }
  }
}

.login-box {
    position: absolute;
    width: 400px;
}
.login-box form {
    width: 100%;
    padding: 0 50px;
}

/* Caso fosse trocado o logo por uma palavra, tipo 'Login'
h2 {
    font-size: 2em;
    color: #0ef;
    text-align: center;
}
*/

.error-msg {
  color: #0ef;
  font-size: 12px;
  margin-left: 15px;
  margin-top: -25px;
  margin-bottom: 20px;
}

img {
  max-width: 40%;
  //height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
  margin-top: 0%;
}

.input-box {
    position: relative;
    margin: 25px 0;
}
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .5s ease;
}

// Efeito quando clicado sobre os inputs dessa classes
.input-box input:focus,
.input-box input:valid {
    border-color: #0ef;
}

// Coloca o label 'Usuário' e 'Senha' para cima, dentro dos inputs
.input-box label {
    position: absolute;
    top: 50%; //50%; //25px;
    transform: translateY(-50%);
    left: 20px;
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease; // Aplica meio segundo de transicao toda vez que o label muda
}

// Aplica o efeito de subir o label quando o input for
// clicado e quando ele estiver valido (preenchido devido ao required)
.input-box input:focus~label,
.input-box input:valid~label {
    top: 10%; // 10% ou 5px;
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;
    color: #0ef;
}

.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}
.forgot-pass a {
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}
.forgot-pass a:hover {
    text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  font-weight: 600;
}

.btn-enabled{
    background: #0ef;
    cursor: pointer;
    color: #1f293a;
}

.btn-disabled{
    background: #1f293a;
    border: solid #0ef;
    color: #0ef;
}

.signup-link {
    margin: 20px 0 10px;
    text-align: center;
}
.signup-link a {
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover {
    text-decoration: underline;
}
