<div class="modal-header-custom">
  <h2>Concurso {{ concursoInfo.numero }}</h2>
</div>

<mat-dialog-content>
  <div class="dezenas-grid-dialog">
    <div *ngFor="let dezenaInfo of resultadoOrdenado" 
         class="dezena"
         [class.repetido]="dezenaInfo.isRepeated">
         {{ dezenaInfo.number | number:'2.0-0' }}
    </div>
  </div>

  <div class="stats-info">
    <strong>Paridade:</strong>
    <span class="highlight">{{ concursoInfo.impares }} Ímpares</span>
    <span style="color: #ccc">|</span>
    <span class="highlight">{{ concursoInfo.pares }} Pares</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="custom-dialog-actions">
  <div>
    <span *ngIf="isGerado" class="obs-text">
      <mat-icon style="font-size: 16px; height: 16px; width: 16px;">warning</mat-icon>
      Simulação
    </span>
  </div>

  <button mat-stroked-button color="primary" mat-dialog-close>
    Fechar
  </button>
</mat-dialog-actions>