<div class="modal fade" id="templateModal" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content parent">
      <div class="modal-header">
        <h5 class="modal-title title" id="templateModalLabel">{{ message.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body content">
        <p>{{ message.content }}</p>
      </div>
    </div>
  </div>
</div>
