.parent {
  display: flex;
  justify-content: center;
  background: #1f293a;
  color: #0ef;;
  font-family: 'Poppins', sans-serif;
}

.title{
  margin-top: 15px;
  margin-bottom: 15px;
}

.content{
  margin-top: 15px;
  margin-bottom: 15px;
}
