<div class="modal-header-custom">
  <h2>Adicionar Concurso</h2>
</div>

<mat-dialog-content class="d-flex flex-column gap-2">
  
  <p>Cadastre um concurso manualmente em caso de falha na sincronização.</p>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Número do Concurso</mat-label>
    <input matInput type="number" [(ngModel)]="drawId" placeholder="Ex: 3001" [readonly]="true">
    <mat-icon matSuffix>tag</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Dezenas Sorteadas (15)</mat-label>
    
    <input 
      matInput 
      [value]="formattedDozens"
      (input)="onDozensInput($event)"
      placeholder="01-02-03..."
      maxlength="44">
      
      <mat-hint align="end">
        <strong [class.text-primary]="dozensInput.length === 30" 
                [class.text-danger]="dozensInput.length !== 30">
          {{ dozensInput.length / 2 | number:'1.0-0' }}
        </strong> / 15
      </mat-hint>
      <mat-icon matSuffix>casino</mat-icon>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="custom-dialog-actions">
  <button mat-stroked-button mat-dialog-close color="warn">
    Cancelar
  </button>

  <button mat-raised-button 
          class="btn-save-custom" 
          (click)="save()">
    <mat-icon class="me-2">save</mat-icon> 
    Salvar Concurso
  </button>
</mat-dialog-actions>